
<div class="container">
  <div class="row">
    <div class="jumbotron col-12">
      <h1 class="display-4">Welcome to {{ title }}!</h1>
      <p class="lead"></p>
      <hr class="my-4">
      <p></p>
    </div>    

    <div class="card col-4 m-1">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="https://apilist.fun/category/cryptocurrency">API List</a>          
        </li>
      </ul>
    </div>

    <div class="card col-4 m-1">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="https://www.worldcoinindex.com/apiservice">Coin API</a>          
        </li>
        <li class="list-group-item">
            <a href="https://fixer.io/documentation">Currency API</a>       
        </li>
      </ul>
    </div>

  </div>
</div>